.breakout-page {
  width: 100%;
  height: 100vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.game__header {
  position: relative;
  top: -20rem;
  letter-spacing: 0.1rem;
  margin: 1rem;
}

.game__score {
  font-size: 3rem;
  color: var(--color-white);
}

.game__score-count {
  font-size: 3rem;
  color: var(--color-white);
}

.game__blocks {
  position: absolute;
  width: 60rem;
  height: 30rem;
  border: 0.1rem solid var(--color-black);
  margin: 1rem;
  background: var(--color-secondary);
}
