.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  border-bottom: 0.1rem solid var(--black-color);
  background: var(--secondary-color);
}

.header-wrapper__logo {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.header-wrapper__title {
  font-size: 5rem;
  color: var(--white-color);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.game__header {
  position: relative;
  top: -20rem;
  letter-spacing: 0.1rem;
  margin: 1rem;
}

.game__score {
  font-size: 3rem;
  color: var(--white-color);
}

.game__score-count {
  font-size: 3rem;
  color: var(--white-color);
}

.game__blocks {
  position: absolute;
  width: 60rem;
  height: 30rem;
  border: 0.1rem solid var(--black-color);
  margin: 1rem;
  background: var(--secondary-color);
}

.block {
  position: absolute;
  width: 10rem;
  height: 2rem;
  background-color: var(--block-color);
  border: 0.1rem solid var(--black-color);
}

.user {
  position: absolute;
  width: 10rem;
  height: 2rem;
  background-color: var(--block-color);
  border: 0.1rem solid var(--black-color);
}

.ball {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
}
